/* https://medium.muz.li/50-user-profile-page-design-inspiration-5c45aeeda400 */
.page-bg {
    background-color: white;
}
.hero-bg {
    margin-top: 30px;
    
}
.pg-headers {
    text-align: center;
    color: white;
}
/* Title and Hero image */
.herome {
    position: relative;
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto; 
    border-radius: 50%;
    box-shadow: 5px 5px 5px #222;
}
.herome:after {
    position: absolute;
    top: 0;left: 0;
    height: 200px;
    width: 200px;
    content: "";
    background: linear-gradient(blue, purple);
    opacity: 0.5;
    mix-blend-mode: color;
}
.intro-title {
    text-align: center;
}
.media-bg {
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}
.media-bg a {
    color: blue;
    opacity: 0.8;
    transition: ease-in .5s;
}
.media-bg a:hover {
    color: purple;
    text-decoration: none;
}


/* Contact info */
.intro-contact-bg {
    position: relative;
    background-color: blue;
    background-image: linear-gradient(blue, purple);
    opacity: 0.8;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #222;
    margin-top: 30px;
}
.intro-contact-fa {
    margin-left: 25px;
    text-align: center;
    font-size: 50px;
    color: white;   
}
.intro-contact-info {
    margin-top: 25px;
    color: white;
}

/* About Me */
.aboutme-bg {
    position: relative;
    background-color: blue;
    background-image: linear-gradient(blue, purple);
    opacity: 0.8;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #222;
    margin-top: 30px;
}
.knowme-vid {
    margin-top: 15px;
    margin-bottom: 30px;
    height: 250px;
    width: 100%;
    opacity: 0.8
}

/* Project */
.projects-bg {
    position: relative;
    background-color: blue;
    background-image: linear-gradient(blue, purple);
    opacity: 0.8;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #222;
    margin-top: 30px;
}
.project-slider {
    text-align: center;
    color:white;
}
.project-pic {
    background-size: cover;
    height: 200px;
    width: 100%;
    margin: 10px auto;
}
.project-slide a {
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: ease-in .5s;
}
.project-slide a:hover {
    background-color: white;
    color: purple;
}

.project-slide img {
    margin-top: 10px;
    height: 220px;
    max-width: 100%;
}